S3method("[",lineprof)
S3method(format,lineprof)
S3method(print,lineprof)
export(auto_focus)
export(find_demo)
export(focus)
export(lineprof)
export(shine)
importFrom(stringr,str_replace_all)
importFrom(stringr,str_split)
importFrom(stringr,str_split_fixed)
importFrom(stringr,str_trim)
useDynLib(lineprof)
