.positive-bar, .negative-bar {
  display: inline-block;
  height: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #333;
}

.negative-bar {
  background-color: red;
}

.slick-cell.right {
  text-align: right;
}


.slick-cell {
  border-bottom: 0 solid #fff;
  border-right: 1px solid #ccc;
}
.slick-cell.l0, .slick-cell.r0 {
  border-left: 1px solid #ccc;
}

.slick-header-column, .slick-header-column.ui-state-default {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

div.code {
  font-family: Inconsolata, monospace;
  white-space: pre;
}